<div id="footer">
    <p>Powered by <a href="http://moritz.faui2k3.org/en/ilbot">ilbot</a>. &nbsp;&nbsp;&nbsp; Maintained by &#112;&#104;&#109;&#064;&#119;&#111;&#111;&#100;&#099;&#111;&#105;&#110;&#046;&#111;&#114;&#103;</p>
</div>
